html{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 1px solid black;

}
button:hover {
    cursor: pointer;
}

