
body {
    background-color: turquoise;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 1px solid black;
}
button :hover {
    cursor: pointer;
}
.deleteBtn {
    border-radius: 50%;
    background-color: red;
}
.add-animal {
    display: flex;
    flex-direction: column;
}
input {
    justify-content: space-around;
}
.const-animals {
    display: flex;
    flex-direction: column;
    
}

